
@model RentACloth.Models.Categories.AllCategoriesViewModel
@{
    ViewData["Title"] = "Под категории";
    Layout = "_LayoutClear";

}

<div class="mobile-fondsize-20 h2 mt-3 text-center text-info">@ViewData["Title"]</div>
<hr />
<h6 class="text-danger">Може да изтриете под категория само ако не съдържа продукти!</h6>
<div class="container mt-4">
    <table class="table table-hover">
        <thead>
            <tr class="row  d-flex justify-content-center">
                <th scope="col" class="col-lg-1 d-flex justify-content-center">Номер</th>
                <th scope="col" class="col-lg-2 d-flex justify-content-center">Име</th>
                <th scope="col" class="col-lg-3 d-flex justify-content-center">Основна категории</th>
                <th scope="col" class="col-lg-1 d-flex justify-content-center">Брой продукти</th>
                <th scope="col" class="col-lg-3 d-flex justify-content-center"><p><a asp-controller="ChildCategory" asp-action="Add" class="btn btn-success">Създай новa под категория</a></p></th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0; }
            @foreach (var category in Model.ChildCategoryViewModel)
            {
                count++;
                <tr class="row  d-flex justify-content-center">
                    <td class="col-lg-1 d-flex justify-content-center">@count</td>
                    <td class="col-lg-2 d-flex justify-content-center">@category.Name</td>
                    <td class="col-lg-3 d-flex justify-content-center">@category.CategoryName</td>
                    <td class="col-lg-1 d-flex justify-content-center">@category.ProductsCount</td>
                    <td class="col-lg-3 d-flex justify-content-around">
                        <a asp-controller="ChildCategory" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary">Промени</a>
                        <a asp-controller="ChildCategory" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>