@model RentACloth.Controllers.EditChildCategoryViewModel
@{
    ViewData["Title"] = "Промени под категория";
}

<div class="row">
    <div class="col-md-6">
        <section>
            <form method="post" asp-controller="ChildCategory" asp-action="Edit" enctype="multipart/form-data">
                <h4>@ViewData["Title"]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Name"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select class="select-width" name="CategoryId">
                        <option value="" disabled>-- Основна категория --</option>
                        @if (Model.Categories != null)
                        {
                            foreach (var category in Model.Categories)
                            {
                                if (category.Id == Model.CategoryId)
                                {
                                    <option value="@category.Id" selected>@category.Name</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Промени</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}