@model RentACloth.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";

}

<hr />
<div class="row">
    @foreach (var product in Model.ProductViewModel)
    {
        <div class="col-md-4 mb-4 h-50 border-0 ">
            <div class="card h-100 border-0">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" >
                    
                    <img class="d-block img-fluid" src="@product.ImageUrl" style="width: 400px; height: 220px" alt="@product.Name">
                    @*700x400*@
                    
                </a>
                <div class="card-body">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="text-dark"><h4 class="card-title font-weight-bold">@product.Name</h4></a>
                    <hr />
                    <p class="list-group-item text-center font-weight-bold text-danger h5 border-0">@product.Price лв.</p>
                </div>
                <div class="card-footer border-0 text-center">
                    <a asp-controller="ShoppingBag" asp-action="Add" asp-route-id="@product.Id" class="btn btn-info btn-md"><i class="fa fa-shopping-cart"></i> Добави</a>
                </div>
            </div>
        </div>
    }
</div>


<!-- /.row -->
